body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/static/images/3laP6J3.png");
    background-repeat: no-repeat;
    background-position: right top;
}

main {
    flex: 1 0 auto;
}

.logo-space {
    margin-left: 15px;
}

.nav-mobile-email {
    margin-right: 20px;
}

.vertical-space {
    margin-top: 20px;
}

.user {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.repo::before {
    content: "";
    width: 32px;
    background-image: url("/static/icons/GitHub-Mark-32px.png");
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.tele::before {
    content: "";
    width: 32px;
    background-image: url("/static/icons/messenger.png");
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.tele{
    color:white
}

.repo {
    color: white;
}

.repo:hover {
    color: #e0e0e0;
}

.card {
    opacity: 0.7;
}

    .card-author {
        display: block;
        margin-top: 8px;
        margin-bottom: 10px;
        font-size: 1.1em;
        font-style: italic;
    }
